<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="./css/style.css" type="text/css">  
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">  
		<title>FBI Most Wanted Home</title>
	</head>

	<body id="homeBody">
		<h1 id="homeHeader">FBI Most Wanted Crime Reports </h1>
		
		<div id="buttonContainer">
			<button id = "homeButton">
				<a id="homeLink" href="/pastCrimeReports">Access Past Crime Reports</a>
			</button>
			<br>
			<br>
			<button id = "homeButton">
				<a id="homeLink" href="/createNewList">Create New Suspect List</a>
			</button>
			<br>
		</div>
		<img id="crest" src="./images/FBICrest.png">
	</body>
</html>